@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(82, 59, 184);
    --primary-color-dark: rgb(45, 28, 121);
    --primary-color-shine: rgb(126, 109, 202);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}
form button:hover{
    background: var(--primary-color-dark);
}
form button:active{
    background: var(--primary-color-shine);
}

.paragrafo-resultado{
    background-color: rgb(99, 197, 143);
    padding: 10px 20px;
}